#vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

#project linux
src/blobby
src/blobby-server
*.a

#project vs2019
/.vs
/out
/Blobby Volley.depend
/Blobby Volley.layout
/CMakeSettings.json

#project nintendo switch
src/blobby.elf
src/blobby.nro
src/blobby.nacp
/blobby

#project platform independent
*.zip
config.h
test_compile
